
{% extends 'base.html' %}

{% block content %}
<script>
function swap_not() {
  window.location.href = "{% url 'swap_not' event.id %}";
}
</script>

<div class="row">
  <div class="col-1">
    <img src="{{ event.game.image.url}}" class="img-fluid " width="100" height="100" />
  </div>
  <div class="col-2">
    <h1>{{ event.title }}</h1>
  </div>
</div>
<div class="row mt-3"></div>
<div class="row">
    <div class="col-4">
    <h4>gramy w: {{ event.game.title }}</h4>
    </div>
</div>
<div class="row">
    <div class="col-4">
    <h4>rozpoczynamy: {{ event.start_time|date:" d E Y"}}</h4>
    </div>
</div>

<div class="row">
    <div class="col-4">
    <h4>o godzinie: {{ event.start_time|date:" H i"}}</h4>
    </div>
</div>
<form method="POST" action="{% url 'participate' event.id %}">
{% csrf_token %}
<div class="row">
  <div class="col-3">
      {% if user not in event.players.all %}
       <input class="btn btn-success btn-lg btn-block" type ="submit" value="Weź udział" />
      {% else %}
       <input class="btn btn-danger btn-lg btn-block" type ="submit" value="Wypisz się" />
      {% endif %}
  </div>

    <div class="col-4">
        <h4 class="text-right">udział biorą:</h4>
        {% for user in event.players.all %}
                <li class="text-right">{{ user.username }}</li>
        {% endfor %}

    </div>
</div>
    <div class="row">
    <div class="col-4">
  <div class="form-check">
  {% if user in event.players.all %}
      <input type="checkbox" name="notify" class="form-check-input" onclick="swap_not()" id="exampleCheck1"{% if participation.notify is True %} checked {% endif %}>
  {% else %}
      <input type="checkbox" name="notify" class="form-check-input" id="exampleCheck1"{% if participation.notify is True %} checked {% endif %}>
   {% endif %}
    <label class="form-check-label" for="exampleCheck1" >&nbsp;&nbsp;powiadom mnie na discordzie</label>
  </div>
    </div>
</div>
</form>


<div class="row pt-2">
  <div class="col-4">
    <h4>organizowane przez: {{ event.creator.username }}</h4>
  </div>
</div>

<div class="row pt-2">
  <div class="col-4">
    <h4>na serwerze: {{ event.server.name }}</h4>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <p>{{ event.description }}</p>
  </div>
</div>
{% if user == event.creator %}
<div class="row">
  <div class="col-3">
   <a href="{% url 'del_ev' event.id %}" class="btn btn-danger btn-lg btn-block">Skasuj!</a>
  </div>
</div>
{% endif %}

<form id="upvote" method="POST" action="{% url 'participate' event.id %}">
  {% csrf_token%}
  <input type="hidden">
</form>

{% endblock %}